:root {
    --body-background-color: #ffff;
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --link-color: #2196f3;
    --footer-background-color: #2f303a;
    --team-section-color: #f5f4fa;
    --studio-color: #000000;
    --icon-color: #afb1b8;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    background-color: var(--body-background-color);
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid #ececec;
}

.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav__item {
    margin-right: 50px;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover,
.nav__link:focus,
.nav__link--active {
    color: var(--link-color);
}

.nav__link--active::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    margin-top: 28px;
    padding-bottom: 0;
    width: 100%;
    height: 4px;
    background: var(--link-color);
    border-radius: 4px;
}

.nav .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo {
    display: block;
    color: var(--link-color);
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.header__logo {
    color: var(--studio-color);
}

.footer .logo {
    padding: 0;
    margin-bottom: 20px;
}

.footer__logo {
    color: var(--body-background-color);
}

.contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.contacts .contacts__item+.contacts__item--tel {
    margin-left: 50px;
}

.contacts--footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.contacts__link--header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
    fill: #757575;
    -webkit-transition: color fill 50ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color fill 50ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover,
.contacts__link:focus {
    fill: var(--link-color);
    color: var(--link-color);
}

.contacts__icon {
    margin-right: 10px;
}

.contacts__item--mail {
    margin-bottom: 9px;
}

.contacts__item--tel {
    margin-left: 0;
}

.hero {
    background-color: var(--footer-background-color);
    color: var(--body-background-color);
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 0px;
    text-align: center;
}

.hero__subject {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))) url(../images/heroimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero__button {
    margin-top: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    color: var(--body-background-color);
}

.buttons {
    padding-top: 94px;
    padding-bottom: 94px;
}

.buttons__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 34px;
}

.buttons__item {
    margin-right: 8px;
}

.buttons__item:last-child {
    margin-right: 0px;
}

.buttons__link {
    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    color: var(--title-text-color);
    background-color: var(--team-section-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    cursor: pointer;
    -webkit-transition: background-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons__link:hover,
.buttons__link:focus {
    color: var(--body-background-color);
    background-color: var(--link-color);
    -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-left: 12px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    color: #fff;
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.footer__icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.form__button {
    width: 200px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #fff;
    padding: 10px 32px;
    background-color: var(--link-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 30px;
}

.features {
    padding-top: 94px;
}

.features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 14px;
    line-height: 1.71;
    margin-top: 0;
    margin-bottom: 0px;
}

.features__item {
    margin-right: 30px;
}

.features__item:last-child {
    margin-right: 0px;
}

.features__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;
}

.features__picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
    margin-right: 0;
}

.antenna {
    display: inline-block;
}

.image {
    padding-top: 94px;
    padding-bottom: 94px;
}

.caption {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.image__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.image__item {
    margin-right: 30px;
    position: relative;
}

.image__item:last-child {
    margin-right: 0px;
}

.image__label {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
}

.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--team-section-color);
}

.team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.team__item {
    margin-right: 30px;
    width: 270px;
    background-color: #ffff;
}

.team__item:last-child {
    margin-right: 0;
}

.team__img {
    width: 100%;
    margin-top: 0;
}

.team__contacts {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #ffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__caption {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.team__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
}

.socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 16px;
}

.socials__item {
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: var(--icon-color);
    -webkit-transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link:hover,
.socials__link:focus {
    fill: var(--team-section-color);
    background-color: var(--link-color);
}

.socials__link--footer {
    fill: #ffff;
    background-color: rgba(255, 255, 255, 0.1);
}

.socials__link--footer:hover,
.socials__link--footer:focus {
    fill: var(--team-section-color);
    background-color: var(--link-color);
    border-radius: 50%;
}

.socials__icon {
    width: 20px;
    height: 20px;
}

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.client__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.client__item {
    margin-right: 30px;
}

.client__item:last-child {
    margin-right: 0;
}

.client__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    fill: var(--icon-color);
    -webkit-transition-property: border fill;
    transition-property: border fill;
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    fill: var(--link-color);
    cursor: pointer;
    border: 1px solid var(--link-color);
}

.client__icon {
    width: 106px;
    height: 60px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    -webkit-transform: translate(-50%, -50%) scale(0.9);
    transform: translate(-50%, -50%) scale(0.9);
}

.modal {
    position: absolute;
    z-index: 9999999999999;
    padding: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: transparent;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover,
.close:focus {
    fill: var(--link-color);
}

.close__icon {
    width: 11px;
    height: 11px;
}

.modal__title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #212121;
}

.modal__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.modal__field {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
    text-align: left;
}

.modal__input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 4px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:hover,
.modal__input:focus {
    border: 1px solid var(--link-color);
}

.modal__input:hover+.modal__icons,
.modal__input:focus+.modal__icons {
    fill: var(--link-color);
}

.modal__icons {
    position: absolute;
    top: 32px;
    left: 15px;
    width: 18px;
    height: 18px;
    -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__text::-webkit-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal__text:-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal__text::-ms-input-placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal__text::placeholder {
    color: rgba(117, 117, 117, 0.5);
}

.modal__text:hover,
.modal__text:focus {
    border: 1px solid var(--link-color);
}

.modal__checkbox {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-text-color);
}

.modal__doc {
    color: var(--link-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.modal__check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal__check:checked+.modal__checked {
    background-color: var(--link-color);
    border-color: var(--link-color);
    background-image: url("../images/check-vector.svg");
    background-size: contain;
    background-origin: border-box;
}

.modal__check:focus+.modal__checked {
    border-color: var(--link-color);
}

.modal__checked {
    display: inline-block;
    margin-right: 7px;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
}

/*PROJECT SECTION portfolio*/
.projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
}

.projects__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    display: inline-block;
    -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:nth-child(3n) {
    margin-right: 0px;
}

.projects__item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}

.projects__item:hover,
.projects__item:focus {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.projects__item:hover .projects__content,
.projects__item:focus .projects__content {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    opacity: 1;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
}

.projects__item:hover ::before,
.projects__item:focus ::before {
    opacity: 1;
}

.projects__item:hover .projects__hover::before {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.projects__description {
    padding: 20px 24px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.projects__caption {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.projects__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
}

.projects__hover {
    position: relative;
    overflow: hidden;
}

.projects__hover::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__content {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 63px 24px;
    color: #ffffff;
    font-size: 18px;
    line-height: 1.55;
    opacity: 0;
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects a {
    text-decoration: none;
    color: var(--primary-text-color);
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.footer__address {
    margin-bottom: 9px;
    color: var(--body-background-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer__socials {
    padding-top: 12px;
    margin-left: 70px;
}

.footer__caption {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffff;
}

.footer__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-left: 93px;
}

.footer__field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 12px;
}

.footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--footer-background-color);
    color: #ffff;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}