.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;

    .contacts__item+.contacts__item--tel {
        margin-left: 50px;
    }

    &--footer {
        flex-direction: column;
        align-items: flex-start;
    }
}

.contacts__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    &--header {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;
        padding-left: 0;
        fill: #757575;

        transition: color fill 50ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:focus {
        fill: var(--link-color);
        color: var(--link-color);
    }
}

.contacts__icon {
    margin-right: 10px;
}

.contacts__item--mail {
    margin-bottom: 9px;
}

.contacts__item--tel {
    margin-left: 0;
}