.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-background-color);
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__address {
    margin-bottom: 9px;
    color: var(--body-background-color);
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
}

.footer__socials {
    padding-top: 12px;
    margin-left: 70px;
}

.footer__caption {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffff;
}

.footer__form {
    display: flex;
    flex-direction: column;
    margin-left: 93px;
}

.footer__field {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
}

.footer__input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: var(--footer-background-color);
    color: #ffff;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
}