.features {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.features__list {
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;
  }
}

.features__item {
  width: 100%;
  margin-top: 30px;

  @media screen and (max-width: 768px) {
    &:first-child {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin-top: 30px;
    margin-left: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin-bottom: 0;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.features__title {
  text-align: center;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  margin-top: 0;
  margin-bottom: 0;
}

.features__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 0;
}
.antenna {
  display: inline-block;
}